<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature Tests">
            <directory>./tests/Feature</directory>
        </testsuite>
        <testsuite name="All Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">./Http</directory>
            <directory suffix=".php">./Models</directory>
            <directory suffix=".php">./Services</directory>
            <directory suffix=".php">./Policies</directory>
        </include>
        <exclude>
            <directory>./vendor</directory>
            <directory>./tests</directory>
            <directory>./database</directory>
            <directory>./config</directory>
            <directory>./output</directory>
        </exclude>
        <report>
            <html outputDirectory="tests/coverage/html"/>
            <text outputFile="tests/coverage/coverage.txt"/>
            <clover outputFile="tests/coverage/clover.xml"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile="tests/results/junit.xml"/>
    </logging>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="WEATHERMAPNG_CACHE_TTL" value="0"/>
        <env name="WEATHERMAPNG_ENABLE_LOCAL_RRD" value="false"/>
        <env name="WEATHERMAPNG_ENABLE_API_FALLBACK" value="false"/>
    </php>
</phpunit>